Flask==3.0.3
flask-cors==4.0.0
gunicorn==23.0.0
cloud-sql-python-connector[pg8000]==1.13.0
SQLAlchemy==2.0.35
google-cloud-aiplatform==1.70.0
google-cloud-storage==2.19.0
google-cloud-discoveryengine==0.13.2
python-dotenv==1.0.1
python-magic==0.4.27
filetype==1.2.0
google-api-python-client==2.154.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
pandas
openpyxl
Jinja2
# Versiones compatibles para evitar el TypeError: PDF.__init__()
weasyprint==59.0
pydyf==0.8.0
firebase-admin==6.5.0
google-cloud-documentai==2.21.0
pg8000==1.31.2
